<div class="registration-container">
    <div class="registration-card">
      <h2>Account Registration</h2>
    <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
      
      <div class="form-row">
        <div class="form-group half-width">
          <label for="firstname">First Name:</label>
          <input type="text" id="firstname" formControlName="firstname" required>
            <div *ngIf="registrationForm.get('firstname')!.invalid && registrationForm.get('firstname')!.touched" class="error-message">
              First Name is required and must be at least 3 characters long.
            </div>
        </div>

        <div class="form-group half-width">
          <label for="lastname">Last Name:</label>
          <input type="text" id="lastname" formControlName="lastname" required>
            <div *ngIf="registrationForm.get('lastname')!.invalid && registrationForm.get('lastname')!.touched" class="error-message">
              Last Name is required and must be at least 3 characters long.
            </div>
        </div>
    
        
      </div>

      <div class="form-row">
        <div class="form-group half-width">
          <label for="email">Email:</label>
          <input type="email" id="email" formControlName="email" required>
            <div *ngIf="registrationForm.get('email')!.invalid && registrationForm.get('email')!.touched" class="error-message">
              Please enter a valid email address.
            </div>
        </div>
        <div class="form-group half-width">
          <label for="role">Role</label>
          <select 
            id="role" 
            formControlName="role" 
            [class.is-invalid]="registrationForm.get('role')?.invalid && 
                                (registrationForm.get('role')?.dirty || registrationForm.get('role')?.touched)"
          >
            <option value="" disabled selected>Select your role</option>
            <option *ngFor="let role of roles" [value]="role.id">
              {{ role.name }}
            </option>
          </select>
          <div 
            *ngIf="registrationForm.get('role')?.invalid && 
                   (registrationForm.get('role')?.dirty || registrationForm.get('role')?.touched)" 
            class="error-message"
          >
            Please select a role.
          </div>
        </div>
        
      </div>
      
      <div class="form-row">
        <div class="form-group half-width">
          <label for="password">Password:</label>
          <input type="password" id="password" formControlName="password" required>
            <div *ngIf="registrationForm.get('password')!.invalid && registrationForm.get('password')!.touched" class="error-message">
              Password is required and must be at least 8 characters long, including uppercase, lowercase, numbers and special characters.
            </div>
        </div>
  
        <div class="form-group half-width">
          <label for="confirmPassword">Confirm Password:</label>
          <input type="password" id="confirmPassword" formControlName="confirmPassword" required>
            <div *ngIf="registrationForm.get('confirmPassword')!.invalid && registrationForm.get('confirmPassword')!.touched"  class="error-message">
              Confirm password is required and must be at least 8 characters long, including uppercase, lowercase, numbers and special characters.
            </div>
  
            <div *ngIf="registrationForm.errors?.['passwordMismatch'] && (registrationForm.get('password')!.touched || registrationForm.get('confirmPassword')!.touched)" class="error-message">
              Passwords do not match.
            </div>
        </div>
      </div>
  
      <div class="form-row">
        <div class="form-group half-width">
          <label for="dateOfBirth">Date of Birth:</label>
          <input type="date" id="dateOfBirth" formControlName="dateOfBirth" required>
          
            <div *ngIf="registrationForm.get('dateOfBirth')!.invalid && registrationForm.get('dateOfBirth')!.touched" class="error-message">
              You must be at least 18 years old to register.
            </div>
        </div>
        <div class="form-group half-width">
          <label for="idNumber">ID Number:</label>
          <input type="text" id="idNumber" formControlName="idNumber" maxlength="13" required>
            <div *ngIf="registrationForm.get('idNumber')!.invalid && registrationForm.get('idNumber')!.touched" class="error-message">
                Please enter the 13 digits of your Id Number.
            </div>
        </div>
      </div>
  
      <div class="form-group full-width">
        <label for="address">Home Address:</label>
        <div class="form-row">
          <div class="form-group half-width">
            <input type="text" id="streetNumber" formControlName="streetNumber" placeholder="Street Number" required>
            <div *ngIf="registrationForm.get('streetNumber')!.invalid && registrationForm.get('streetNumber')!.touched" class="error-message">
              Please enter your street number.
            </div>
          </div>
          <div class="form-group half-width">
            <input type="text" id="streetName" formControlName="streetName" placeholder="Street Name" required>
            <div *ngIf="registrationForm.get('streetName')!.invalid && registrationForm.get('streetName')!.touched" class="error-message">
              Please enter your street name.
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group half-width">
            <input type="text" id="city" formControlName="city" placeholder="City" required>
            <div *ngIf="registrationForm.get('city')!.invalid && registrationForm.get('city')!.touched" class="error-message">
              Please enter your city.
            </div>
          </div>
          <div class="form-group half-width">
            <input type="text" id="postalCode" formControlName="postalCode" placeholder="Postal Code" required>
            <div *ngIf="registrationForm.get('postalCode')!.invalid && registrationForm.get('postalCode')!.touched" class="error-message">
              Please enter your postal code.
            </div>
          </div>
        </div>
      </div>
  
      <div class="form-row">
        <div class="form-group half-width">
          <label for="phoneNumber">Phone Number:</label>
          <input type="tel" id="phoneNumber" formControlName="phoneNumber" required
                 placeholder="e.g., 012 345 6789" (input)="formatPhoneNumber()">
          <div *ngIf="registrationForm.get('phoneNumber')!.invalid && registrationForm.get('phoneNumber')!.touched" class="error-message">
            Please enter a valid phone number.
          </div>
        </div>
  
        <div class="form-group half-width">
          <label for="employmentStatus">Employment Status:</label>
          <select id="employmentStatus" formControlName="employmentStatus" required>
            <option value="">Select employment status</option>
            <option value="employed">Employed</option>
            <option value="self-employed">Self-Employed</option>
            <option value="unemployed">Unemployed</option>
            <option value="retired">Retired</option>
          </select>
  
            <div *ngIf="registrationForm.get('employmentStatus')!.invalid && registrationForm.get('employmentStatus')!.touched" class="error-message">
              Please select your employment status.
            </div>
          
        </div>
    </div>
  
    <div class="form-row">
      <div class="form-group half-width">
        <label for="annualIncome">Annual Income (R):</label>
        <input 
          type="text" 
          id="annualIncome" 
          formControlName="annualIncome" 
          [value]="formattedIncome" 
          (input)="formatIncome($event)" 
          placeholder="0.00" 
          required>
        <div *ngIf="registrationForm.get('annualIncome')!.invalid && registrationForm.get('annualIncome')!.touched" class="error-message">
          Please enter your annual income in Rands.
        </div>
      </div>
    </div>
  
    <div class="form-group">
      <label class="checkbox-label">
        <input type="checkbox" formControlName="termsAndConditions" required>
        <span class="checkbox-text">I agree to the <a href="#">Terms and Conditions</a> and <a href="#">Privacy Policy</a></span>
      </label>
        <div *ngIf="registrationForm.get('termsAndConditions')!.invalid && registrationForm.get('termsAndConditions')!.touched" class="error-message">
          You must agree to the Terms and Conditions.
        </div>
    </div>
  
      <button type="submit">Register</button>
    </form>
  </div>
  </div>